body {
  background-color: #F0EFE2;
}



/* overriding bootstrap */
.container { 
  width: 825px;
}
.container-fluid {
  padding: 0 150px;
}

nav { 
  height: 132px;
}

.navbar-default
{ background: #667F03;}

.sidebar {
}