html {
  height: 100%;
}
body {
  background-color: #F0EFE2;
  padding-top: 50px;
}

#sidebar h3 {
  margin-left: 15px;
}

#content {
  background-color: #fff;
  padding: 16px 15px 0 15px;
}
.subcontent {
  padding: 15px;
}
.subcontent h1 {
  margin-top: 8px;
}
.subcontent img {
  margin: 12px 0;
}

.offset-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -104px;
}

@-webkit-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@-moz-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@-o-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
:target + .subcontent {
  -webkit-animation: highlight 1s ease;
  -moz-animation: highlight 1s ease;
  -o-animation: highlight 1s ease;
  animation: highlight 1s ease;
}


/* OVERRIDING BOOTSTRAP ===================================== */
.container { 
  width: 825px;
}
.row {
  margin: 0;
}

/* navbar */ 
.navbar-default { 
  background: #55aa00;
  margin-bottom: 0;
  border: 0;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-weight: bold;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  padding: 9px 20px 8px 20px;
  margin-left: -20px;
}

/* sidebar */
.sidebar {
  display: none;
}
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 0;
  }
}
.nav-sidebar {
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}