html {
  height: 100%;
}

pre,
pre[class*="language-"] {
  margin: .5em 0 2em;
}

#sidebar h3 {
  margin-left: 10px;
}
#sidebar .logo {
  display: block;
  background-color: #202020;
  padding: 10px;
}
#sidebar .logo img {
  height: 70px;
}

#content {
  padding: 20px 40px 20px 15px;
  min-width: 400px;
  max-width: 960px;
}
.subcontent {
  padding: 15px;
}
.subcontent h1 {
  margin-top: 8px;
}
.subcontent img {
  margin: 12px 0;
}

.offset-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -104px;
}

@-webkit-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@-moz-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@-o-keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
@keyframes highlight {
  0% { background-color: #C8F7C5; }
  100% { background-color: #fff; }
}
:target + .subcontent {
  -webkit-animation: highlight 1s ease;
  -moz-animation: highlight 1s ease;
  -o-animation: highlight 1s ease;
  animation: highlight 1s ease;
}


/* OVERRIDING BOOTSTRAP ===================================== */
.row {
  margin: 0;
}

/* sidebar */
.sidebar {
  display: none;
}
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 0;
  }
}
.nav-sidebar {
  margin-bottom: 20px;
}
